<link rel="stylesheet" href="registration_number.css">
<link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|Nova+Square|Tulpen+One" rel="stylesheet">
<div id="footer" class="every-page">
  <center>
  <img id="logo" src="Shameera Rakiep (3).png" alt="GitHub: misssrakiep"/>
</center>
</div>
