<link rel="stylesheet" href="registration_number.css">
<link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|Nova+Square|Tulpen+One" rel="stylesheet">
<header class="every-page">
<center>
<div class="heading">
Registation Plate Generator
</div>
</center>
</header>
