<link rel="stylesheet" href="registration_number.css">

<center>
<form class="search" action="" method="post">
  <input type="search" name="regSearch" value="">
  <br>
  <br>
  <input type="submit" class="searchBtn" name="searchBtn" value="Search">
</form>

 {{#if plate}}
   {{#each plate}}
   <ul>
     <div class="plate">
   <li>{{plate}}</li>
 </div>
  </ul>
   {{/each}}
 {{else}}
 <div class="plate">
 No plates available
</div>
{{/if}}
</center>
