<link rel="stylesheet" href="registration_number.css">
<form class="regForm" action="" method="post">
  <input type="text" name="plateInput" value="">
  <input type="submit" name="" value="create">
</form>

<div class="regPlate">
  {{plate}}
</div>

<a href="/"><button type="button" name="button">Home</button></a>
<a href="/view"><button type="button" name="button">View all plates</button></a>
