<link rel="stylesheet" href="registration_number.css">
<center>
  <img src="REgistrationPlate Generator.png" alt="Registration Plate Generator" class="homeImg">
  <br>
<a href="/add"><button type="button" name="button1">Create a new plate</button></a>
<a href="/view"><button type="button" name="button1">View number plates</button></a>

<img src="githubImg.jpg" alt="" class="githubImg"/>
<a href="https://github.com/misssrakiep"><button type="button" class="github">Go To GitHub</button></a>
</center>
