<link rel="stylesheet" href="registration_number.css">

<center>
<form class="search" action="" method="post">
  <input type="search" name="regSearch" value="">
  <br>
  <br>
  <input type="submit" class="searchBtn" name="searchBtn" value="Search">
</form>

<div class="plate">
 {{#if plate}}
   {{#each plate}}
   <ul>
   <li>{{plate}}</li>
  </ul>
   {{/each}}
 {{else}}
 No plates available
{{/if}}
</div>
</center>
