<link rel="stylesheet" href="registration_number.css">
<a href="/add"><button type="button" name="button1">Create a new plate</button></a>
<a href="/view"><button type="button" name="button1">View number plates</button></a>
