@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel|Nova+Square|Tulpen+One');
/*font-family: 'Nova Square', cursive;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Tulpen One', cursive;*/
.plate{
  height: 50px;
  width: 250px;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 45px;
  background-color: #FFD704;
  font-family: 'Nova Square', cursive;
}
ul{
  margin: 2px;
  list-style: none;
}
button{
  border: 2px solid black;
  border-radius: 5px;
  background-color: #FFD704;
  width: 200px;
  height: 30px;
  font-family: 'Nova Square', cursive;
  font-size: 15px;
}
button:hover, .searchBtn:hover{
  background-color: white;
}
.searchBtn{
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: red;
  width: 200px;
  height: 30px;
  font-family: 'Nova Square', cursive;
  font-size: 15px;
}
